<div class="container section profile-page">
    <h1 class="section-title">My Account</h1>
    <mat-divider></mat-divider>

    <mat-tab-group animationDuration="0ms" class="profile-tabs">
        <mat-tab label="Overview">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">person</mat-icon> Profile Details
            </ng-template>
            <div class="tab-content">
                <app-profile-info [profile]="(profile$ | async)!" (profileUpdated)="loadProfile()"></app-profile-info>
            </div>
        </mat-tab>

        <mat-tab label="Addresses">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">home</mat-icon> Address Book
            </ng-template>
            <div class="tab-content">
                <app-address-book [addresses]="(profile$ | async)?.addresses || []"
                    (addressesUpdated)="loadProfile()"></app-address-book>
            </div>
        </mat-tab>

        <mat-tab label="Order History">
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">receipt_long</mat-icon> Order History
            </ng-template>
            <div class="tab-content">
                <app-order-history [orders]="(orders$ | async) || []"></app-order-history>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>